<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.ExtentReportManager" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="api.Test.TC001_CartTest" />
			<!-- <class name="api.Test.TC001_CartTest" /> <class name="api.Test.TC002_GorestTest" 
				/> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
